<ion-view  view-title="{{name}}">
  <ion-nav-bar align-title="center" class="bar bar-header bar-positive">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button icon ion-plus-round " ng-click="afegir()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list card" ng-repeat="v in visites">
      <div class="item">
        <h2>{{v.Data | date:"dd/MM/yyyy 'at' h:mma"}}</h2>
        <p ng-bind="v.Coor">localitzacio</p>
      </div>
      <div class="item item-body">
        <div class="row">
            <img class="col col-25" ng-src="{{v.Fotos[0]}}">
            <p class="col col-75" ng-bind="v.Observ">
              Observacions ...
            </p>
        </div>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="eliminar($index);">
          <i class="icon ion-close"n></i>
        </a>
        <a class="tab-item" href="#/app/visites/editar/{{v.Id_Finca}}/{{name}}/{{$index}}">
          <i class="icon ion-edit"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
